.pagination {
    >li input {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .paginate_button form{
        display: inline;
    }
}
.admin-login-form {
    margin-top: 100px;
}
/*category page*/
.category-content {
    margin-top: 20px;
    .category-tree {
        background-color: #d8d8d8;
        .category-tree-inner {
            max-width: 100%;
            overflow-x: auto;
            padding: 10px 20px 0 0;
            .tree-item {
                margin: 10px 0;
            }
        }
    }
}
th.sortable {
    cursor: pointer;
}