.pagination>li input{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd}.pagination .paginate_button form{display:inline}.admin-login-form{margin-top:100px}.category-content{margin-top:20px}.category-content .category-tree{background-color:#d8d8d8}.category-content .category-tree .category-tree-inner{max-width:100%;overflow-x:auto;padding:10px 20px 0 0}.category-content .category-tree .category-tree-inner .tree-item{margin:10px 0}th.sortable{cursor:pointer}
/*# sourceMappingURL=styles.css.map */
