img {
    max-width: 100%;
}
li.item {
    list-style: none;
}
.list-format {
    li.item:nth-child(odd) {
        background-color: #e0e0e0;
    }
    li.item:nth-child(even){
        background-color: #ffffff;
    }
}
.toolbar {
    margin: 10px 20px;
}
/*menu*/
.dropdown-submenu {
    position: relative;
    >.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
}

.dropdown-submenu.pull-left {
    float: none;
    > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
}

/*category page*/
.toolbar{
    .toolbar-input{
        width: auto;
        display: inline-block;
    }
    .pagination {
        margin: 0 20px;
    }
    .pager {
        margin: 0 20px;
    }
}

.products-grid {
    li.item {
        list-style: none;
        text-align: center;
        .product-image {
            overflow: hidden;
            display: block;
            height: 205px;
            margin: 0 0 10px;
        }
        .product-name {
            overflow: hidden;
            margin: 0 0 0 10px;
            font-weight: bold;
            font-size: 14px;
            color: #666;
        }
        .price-box {
            margin: 5px 0;
            .price-origin {
                margin: 0;
                display: inline-block;
                font-weight: bold;
                color: #898989;
                font-size: 13px;
                text-decoration: line-through;
            }
            .price-final, .price {
                margin: 0;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                color: #111111;
            }
        }
    }
}
/* product page */
.carousel {
    margin-top: 20px;
    .item {
        .thumb {
            width: 25%;
            cursor: pointer;
            float: left;
            img {
                width: 100%;
                margin: 2px;
            }
        }
        img {
            width: 100%;
        }
    }
}
.product-wrapper {
    .form-add-cart {
        input {
            width: auto;
        }
    }
    .product-name {
        margin-bottom: 20px;
    }
    .price-box {
        margin: 30px 0;
        .price-origin {
            margin: 0 10px 0 0;
            display: inline-block;
            font-weight: bold;
            color: #898989;
            font-size: 13px;
            text-decoration: line-through;
        }
        .price-final, .price {
            margin: 0;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            color: #111111;
        }
    }
    .product-more-info {
        margin-top: 30px;
    }
}

/*Cart page*/
.cart-page {
    .order-info {
        margin: 20px 0;
    }
}
/*news page*/
.news-wrapper {
    .item {
        .news-image {
            padding-left: 0px
        }
    }
}
.news-view-wrapper {
    .news-image {
        text-align: center;
    }
}
/*footer*/
.footer{
    background-color: grey;
    margin-top: 20px;
    padding: 20px;
    .copyright {
        text-align: center;
    }
}